
# Created by https://www.gitignore.io/api/packer
# Edit at https://www.gitignore.io/?templates=packer

### Packer ###
# Cache objects
packer_cache/

# For built boxes
*.box

# End of https://www.gitignore.io/api/packer
