---
name: Run ansible (update)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */8 * * *'

permissions:
  contents: read
  id-token: write

jobs:
  ansible:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 1
    - name: Run playbook
      uses: ./.github/actions/run-ansible
      with:
        playbook: actions/update.yaml
